<nav>
    <ul>
        <li>principal</li>
        <li>fotos</li>
        <li>videos</li>
        <li>contacto</li>
    </ul>en
</nav>
<section>
    <article>
        Este es el texto de mi primer mensaje
    </article>
    <article>
        Este es el texto de mi segundo mensaje
    </article>
    <h1>Texto 1, informativo </h1>
    <h2>Texto 2, informativo </h2>
    <h3>Texto 3, informativo </h3>
    <h4>Texto 4, informativo </h4>
    <h5>Texto 5, informativo </h5>
    <h6>Texto 6, informativo </h6>
    <h1>Texto 1, informativo </h1>
    <h1>Texto 1, informativo </h1>
    <h1>Texto 1, informativo </h1>
    <h1>Texto 1, informativo </h1>

</section>
<aside>
    <blockquote>Mensaje número uno</blockquote>
    <blockquote>Mensaje número dos</blockquote>
</aside>